{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'polls/index.css' %}">
    <title>index</title>
</head>
<body>
    <h1>質問一覧</h1>
    {% if latest_question_list %}
        <table>
            <tbody>
                {% for question in latest_question_list %}
                <tr>
                    <td>{{ question.question_text }}</td>
                    <td>{{ question.pub_date | date:"Y/m/j H:i:s" }}</td>
                    <td><a href="{% url 'polls:detail' question.id %}">投票</a></td>
                    <td><a href="{% url 'polls:result' question.id %}">投票結果</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}
</body>
</html>